.childWrapper-1j_1ub svg {
  display: none;
}

.childWrapper-1j_1ub {
  background: url('https://pyxis.nymag.com/v1/imgs/d29/4a6/d8b19f15856697769dc1c586d59ce82bd8-22-cat-video-truth-smoking.rsquare.w700.jpg') no-repeat center center fixed; 
  background-size: cover;
  border-radius: 5px;
}

.childWrapper-1j_1ub:hover {
  color: white;
}
